#root {
  margin: 0;
  text-align: center;
}

.contenedorDetalles {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  color: #333;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.contenedorDetalles:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.contenedorDetalles h2 {
  font-size: 24px;
  color: #2c3e50;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.contenedorDetalles p {
  font-size: 18px;
  margin: 8px 0;
}

.contenedorDetalles img {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}


@media (max-width: 600px) {
  .contenedorDetalles {
    width: 95%;
    padding: 15px;
  }

  .contenedorDetalles h2 {
    font-size: 20px;
  }

  .contenedorDetalles p {
    font-size: 16px;
  }

  button {
    font-size: 14px;
    padding: 8px 12px;
  }
}

